{% extends 'root.twig' %}

{% set title = 'Welcome to Clonk!'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
			<p class="lead">{% trans %}Clonk is a unique two-dimensional game and often referred to as a mix of "The Settlers" and "Lemmings".{% endtrans %}</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2><img src="{{resources}}/custom/game/rage.png" height="80"></h2>
				<h3>{% trans %}Clonk Rage{% endtrans %}</h3>
				<p>{% trans %}The classic game with hundreds of community-built, high-quality addons. Magical wars, strategic shooters and futuristic settling: Clonk Rage has it all.{% endtrans %}</p>
				<p>{% trans %}Often the sheer selection is overwelming, so be sure to spread the word and vote for the addons you like.{% endtrans %}</p>
				<p>
					<a href="{{base}}/addons/rage" class="btn btn-primary">{% trans %}Addons{% endtrans %}</a>
					<a href="http://www.clonk.de?lng={% trans 'en' %}" class="btn btn-default">{% trans %}Official website{% endtrans %}</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2><img src="{{resources}}/custom/game/openclonk.png" height="80"></h2>
				<h3>{% trans %}OpenClonk{% endtrans %}</h3>
				<p>{% trans %}The opensource successor to the Clonk series, built by players and developers of the previous Clonk titles.{% endtrans %}</p>
				<p>{% trans %}Although the addon selection is still limited, OpenClonk completely reimaginges a great part of the game and greatly refines the technology, now supporting three-dimensional models within the game.{% endtrans %}</p>
				<p>
				<a href="{{base}}/addons/openclonk" class="btn btn-primary">{% trans %}Addons{% endtrans %}</a>
				<a href="http://www.openclonk.org" class="btn btn-default">{% trans %}Official website{% endtrans %}</a>
				</p>
			</div>
			<div class="col-md-4">
				<p class="visible-lg visible-md" style="height: 80px; margin: 20px 0;"></p>
				<h3>{% trans %}&hellip;only just the beginning{% endtrans %}</h3>
				<p>{% trans %}Clonk lives from its fans, with dedicated players creating high-quality addons.{% endtrans %}</p>
				<p>{% trans %}The series appeals to all ages alike and has been around for many years. Addons exist in a huge variety of gameplay and genre, and Lorry offers a central platform for the best of them.{% endtrans %}</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-8">
				<h2>{% trans %}Create new content for Clonk{% endtrans %}</h2>
				<p>{% trans %}The official development of Clonk Rage has halted, therefore the community is creating an open source succesor - OpenClonk.{% endtrans %}</p>
				<p>{% trans %}Both games are different and alike, but the majority of all addons have been created for Clonk Rage. Once you've created something awesome you can distribute it via Lorry, making it instantly available for any interested player.{% endtrans %}</p>
				<p>
					<a href="{{base}}/developers" class="btn btn-info">{% trans %}Developer portal{% endtrans %}</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>{% trans %}Build the next Clonk{% endtrans %}</h2>
				<p>{% trans %}The OpenClonk project is constantly looking for developers to help out with the next iteration of Clonk. If you have moderate or even advanced C++-skills you should definitively be welcome in the team.{% endtrans %}</p>
				<p>
					<a href="http://wiki.openclonk.org/w/Development" class="btn btn-default">{% trans %}OpenClonk wiki{% endtrans %}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}