{% extends 'root.twig' %}

{% block content %}
<div class="container" id="front">
	<div class="row">
		<div class="col-md-8">
			<div id="featured-front" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#featured-front" data-slide-to="0" class="active"></li>
					<li data-target="#featured-front" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<a href="{{base}}/about">
							<img src="http://placehold.it/900x500/77/00&text=Lorry" alt="Lorry">
						</a>
						<div class="carousel-caption">
							<h3><strong>This is Lorry:</strong> Welcome back to Clonk.</h3>
						</div>
					</div>
					<div class="item">
						<a href="{{base}}/addons/rage/moderncombat">
							<img src="http://placehold.it/900x500/77/00&text=CMC" alt="Codename: Modern Combat">
						</a>
						<div class="carousel-caption">
							<h3>Now available: <strong>Codename: Modern Combat R1.6</strong></h3>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#featured-front" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#featured-front" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<h3>{% trans %}Latest releases{% endtrans %}</h3>
		{% if new_addons %}
			<ul class="media-list addons-small">
			{% for addon in new_addons %}
				{% include "functions/addon.twig" %}
			{% endfor %}
			</ul>
		{% else %}
			<p class="alert alert-warning">{% trans %}There are no new releases.{% endtrans %}</p>
		{% endif %}
			<hr class="visible-xs">
		</div>
		<div class="col-md-4 sidebar">
		{% if user_login %}
			<h1>{% trans %}Welcome back.{% endtrans %}</h1>
			<p class="lead">{% trans %}Lorry lives from community creations. Why not start developing one today?{% endtrans %}</p>
			<!--<p>
				<a href="{{base}}/publish/create" class="btn btn-primary">{% trans %}Create a new addon{% endtrans %}</a>
			</p>!-->
		{% else %}
			<h1><span class="visible-lg">{% trans %}Welcome to Lorry.{% endtrans %}</span><span class="hidden-lg">{% trans %}Welcome{% endtrans %}</span></h1>
			<p class="lead">{% trans %}Lorry is the place for the best addons for the game series Clonk.{% endtrans %}</p>
			<p>
				<a href="{{base}}/register" class="btn btn-lg btn-success">{% trans %}Register now{% endtrans %}</a>
				<a href="{{base}}/clonk" class="btn btn-lg btn-default">{% trans %}New to Clonk?{% endtrans %}</a>
			</p>
		{% endif %}
			<hr>
			<h2>{% trans %}In development{% endtrans %}</h2>
			<p class="text-big">{% trans %}The Lorry platform is actively beeing developed. You can join and try out the features, but we might reset the accounts at some point.{% endtrans %}</p>
			<a href="{{base}}/about" class="btn btn-info">{% trans %}About Lorry{% endtrans %}</a>
			<a href="https://clonkspot.org/forum/topic_show.pl?tid=30" class="btn btn-default">{% trans %}Lorry on Clonkspot{% endtrans %}</a>
		</div>
	</div>
</div>
{% endblock %}