{% extends 'root.twig' %}

{% set title = 'Moderation'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>{% trans %}Overview{% endtrans %}</h2>
				<h3>{% trans %}Users{% endtrans %}</h3>
				<a href="{{base}}/users" class="btn btn-default">{% trans %}Users{% endtrans %}</a>
				<a href="{{base}}/users?filter=bans" class="btn btn-danger">{% trans %}Banned{% endtrans %}</a>
			</div>
			<div class="col-md-8">
				<h2>{% trans %}Queues{% endtrans %}</h2>
				<h3>{% trans %}Addons{% endtrans %}</h3>
				{% if submitted %}
					{% for request in submitted %}
						<a href="{{base}}/moderate/approve/{{request.addon.id}}">{{request.addon.title}}</a>
					{% endfor %}
				{% else %}
					<div class="alert alert-info">{% trans %}There are no addons in the approval queue.{% endtrans %}</div>
				{% endif %}
				<h3>{% trans %}Contact form{% endtrans %}</h3>
				<p class="alert alert-info">{% trans %}There are no new messages in the queue.{% endtrans %}</p>
			</div>
		</div>
	</div>
{% endblock %}