{% extends 'root.twig' %}

{% set title %}
	{% trans %}Login to {{brand}}{% endtrans %}
{% endset %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{% trans 'Login' %}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row" id="login">
			<div class="col-md-4">
				{% include 'functions/alert.twig' with {'selector' : 'login'} %}
				<form id="form-login" method="post" role="form">
					<div class="form-group">
						<label for="username" id="username-label" data-text-username="{% trans "Username" %}" data-text-email="{% trans "Email address"%}">{% trans "Username / Email address" %}</label>
						<input type="text" class="form-control" name="username" id="username" placeholder="{% trans "Username / Email address" %}"{% if username %} value="{{ username|escape }}"{% endif %}{% if not (username_exists or email) and not email_focus %} autofocus{% endif %} required>
					</div>
					<div class="form-group">
						<label for="password">{% trans "Password" %}</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="{% trans "Password" %}"{% if username and username_exists %} autofocus{% endif %} required>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="remember" value="yes"{% if remember %} checked{% endif %}> {% trans "Remember on this device" %}
						</label>
					</div>
					<p><button class="btn btn-lg btn-primary" type="submit">{% trans "Login" %}</button>
					{% if not (email or email_visible) %}
						<a href="#by-email" class="btn btn-link visible-js" data-toggle="collapse" data-target="#by-email">{% trans "Forgot your password?" %}</a>
					{% endif %}
					</p>
				</form>
				<hr>
				<div id="by-email" class="collapse in">
					<h4>{% trans "Reset password" %}</h4>
					{% include 'functions/alert.twig' with {'selector' : 'email'} %}
					<form method="post" role="form">
						<div class="form-group">
							<label for="email">{% trans "Email address" %}</label>
							<input type="email" class="form-control" name="email" id="email"{% if email %} value="{{email}}"{% endif %} placeholder="{% trans "Email address" %}" required{% if email_focus %} autofocus{% endif %}>
						</div>
						<button class="btn btn-primary" type="submit" name="email-submit">{% trans "Reset password" %}</button>
					</form>
					<hr>
				</div>
				<div class="social">
					<h4>{% trans %}Login services{% endtrans %}</h4>
					{% include 'functions/oauth.twig' %}
				</div>
			</div>
			<div class="col-md-8">
				<hr class="visible-sm visible-xs">
				{% if connect %}
				{% else %}
					{% if registered %}
				<h2>{% trans %}Nearly there&hellip;{% endtrans %}</h2>
				<p class="lead">{% trans %}You can now sign in with your username or email address and password.{% endtrans %}</p>
					{% else %}
				<h2>{% trans %}Not registered yet?{% endtrans %}</h2>
				<p class="lead">{% trans %}Registering only takes a few moments. A Clonk registration key is not required.{% endtrans %}</p>
				<p><a href="{{base}}/register{% if returnto %}?returnto={{returnto}}{% endif %}" class="btn btn-lg btn-success">{% trans %}Register now{% endtrans %}</a></p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	$('#by-openid').removeClass('in');
	{% if not (email_visible or email) %}
	$('#by-email').removeClass('in');
	{% endif %}

	var usernameLabelOriginal = $('#username-label').text();
	var usernameLabelUpdate = function() {
		var val = $('#username').val();
		var label = $('#username-label');
		label.text(val.length > 0 ? (val.indexOf('@') > -1 ? label.data('text-email') : label.data('text-username')) : usernameLabelOriginal);
	};
	usernameLabelUpdate();
	$('#username').on('keyup change', usernameLabelUpdate);
{% endblock %}