{% extends 'root.twig' %}

{% set title %}
	{% trans %}Register at {{brand}}{% endtrans %}
{% endset %}

{% block content %}
	{% if registration_disabled %}
		<div class="jumbotron">
			<div class="container">
				<h1>{% trans %}Registration disabled{% endtrans %}</h1>
				<p>{% trans %}New Registrations are disabled.{% endtrans %}</p>
			</div>
		</div>
	{% else %}
		<div class="page-header">
			<div class="container">
				{% if oauth %}
					<h1>{% trans "Complete registration" %}</h1>
				{% else %}
					<h1>{% trans "Register" %}</h1>
				{% endif %}
			</div>
		</div>
		<div class="container">
			<div class="row" id="register">
				<div class="col-md-4">
					{% include 'functions/alert.twig' with {'selector' : 'register'} %}
					<form id="form-register" method="post" role="form">
						<div class="form-group">
							<label for="username">{% trans "Username" %}</label>
							<input type="text" class="form-control" name="username" id="username" placeholder="{% trans "Username" %}" pattern="[a-zA-Z0-9_]+" data-content="{% trans %}Your username may contain letters, numbers and underscores and must be between 3 and 16 characters long.{% endtrans %}" {% if username %} value="{{username}}" {% endif %}maxlength="16" {% if username_focus %}autofocus {% endif %}required>
						</div>
						<div class="form-group">
							<label for="email">{% trans "Email address" %}</label>
							<input type="email" class="form-control" name="email" id="email" placeholder="{% trans "Email address" %}" data-content="{% trans %}We require your email address so that we can verify you if you should forget your login details.{% endtrans %}" {% if email%}value="{{email}}" {% endif %}required>
						</div>
						{% if not oauth %}<div class="form-group">
								<label for="password">{% trans "Password" %}</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="{% trans "Password" %}" data-content="{% trans %}You password is stored securely. We require at least 8 characters for your security and are unable to send you this password if you should forget it.{% endtrans %}" required>
							</div>
							<div class="form-group">
								<label for="password-repeat">{% trans "Confirm password" %}</label>
								<input type="password" class="form-control" name="password-repeat" id="password-repeat" placeholder="{% trans "Confirm password" %}" required>
							</div>
						{% else %}
							<input type="hidden" name="use-oauth" value="1">
						{% endif %}
						<p><button class="btn btn-lg btn-success" type="submit">{% trans "Register" %}</button>
						{% if oauth %}
							<a href="{{base}}/register?cancel" class="btn btn-lg btn-default">{% trans "Cancel" %}</a>
						{% else %}
							<a href="{{base}}/login" class="btn btn-link">{% trans "Already registered?" %}</a>
						{% endif %}
						</p>
					</form>
					<hr>
					<div class="social">
						{% if oauth %}
							<h4>{% trans %}Linked to {{provider}}{% endtrans %}</h4>
							<div class="alert alert-success">{% trans %}You can log in using {{provider}} in future. {% endtrans %}</div>
						{% else %}
							<h4>{% trans %}Login services{% endtrans %}</h4>
							{% include 'functions/oauth.twig' %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-8">
					<hr class="visible-xs">
					{% if oauth %}
						<h2>{% trans %}Nearly done&hellip;{% endtrans %}</h2>
						<p>{% trans %}You still need to choose your username and enter or verify your email address.{% endtrans %}</p>
					{% else %}
						<h2>{% trans %}This is Lorry.{% endtrans %}</h2>
						<p class="lead">{% trans %}Lorry is a fan page, distribution platform and online community for players and fans of the Clonk series.{% endtrans %} <a href="{{base}}/about">{% trans %}Learn more&hellip;{% endtrans %}</a></p>
						<hr>
						<h3>{% trans %}Why should I register?{% endtrans %}</h3>
						<ul class="list-group">
							<li class="list-group-item"><span class="glyphicon glyphicon-upload"></span> {% trans %}Publish your own addons, so they are instantly available to all Clonk players{% endtrans %}</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-heart-empty"></span> {% trans %}Support Lorry with feedback and help shape the future of the Clonk community{% endtrans %}</li>
						</ul>
						<h4>{% trans %}Upcoming features{% endtrans %}</h4>
						<ul class="list-group">
							<li class="list-group-item"><span class="glyphicon glyphicon-comment"></span> {% trans %}Comment and discuss addons or send feedback to the developer(s){% endtrans %}</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-star"></span> {% trans %}Vote on addons to support and highlight the best ones{% endtrans %}</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-tag"></span> {% trans %}Tag addons and help others to find new favourites{% endtrans %}</li>
						</ul>
					{% endif %}
					{% set policy %}<a href="{{base}}/privacy" target="_blank">{% trans %}privacy policy{% endtrans %}</a>{% endset %}
					<p class="help-block">{% trans %}Because we think it's important: our {{policy}}.{% endtrans %}</p>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascript %}
	$('#by-openid').removeClass('in');
	$(document).ready(function() {
		var options = {placement:'top', trigger:'focus', container: '#form-register'};
		$('#form-register input').each(function() {
			$(this).popover(options);
			if($('#username').attr('autofocus')) {
				$('#username').focus();
			}
		});
	});
{% endblock %}