{% extends 'root.twig' %}

{% set title = 'Register'|trans %}

{% block content %}
<h1 class="form-register-heading">{{ title }}</h1>
<div class="row-fluid">
    <div class="span4">
		{% include 'functions/alert.twig' with {'selector' : 'register'} %}
		<form class="form-register" method="post">
			<label for="username"></label>
			<input type="text" class="input-block-level" name="username" id="username" placeholder="{% trans "Username" %}" data-toggle="tooltip" title="first tooltip" {% if username%}value="{{username}}"{% else %}autofocus{% endif %} required>
			<label for="email"></label>
			<input type="email" class="input-block-level" name="email"  id="email" placeholder="{% trans "Email address" %}"{% if email%} value="{{email}}"{% endif %} required>
			<label for="password"></label>
			<input type="password" class="input-block-level" name="password"  id="password" placeholder="{% trans "Password" %}" required>
			<label for="password-repeat"></label>
			<input type="password" class="input-block-level" name="password-repeat" id="password-repeat" placeholder="{%trans "Confirm password" %}" required>
			<button class="btn btn-large btn-primary" type="submit">{% trans "Register" %}</button>
			<a href="{{base}}/login" class="btn btn-link">{% trans "Already registered?" %}</a>
		</form>
		<hr>
		<div class="social">
			<h4>{% trans %}Alternatively use a login service:{% endtrans %}</h4>
			{% include "functions/openid.twig "%}
		</div>
	</div>
	<div class="span8">
		<hr class="visible-phone">
		<h4>{% trans %}What is this all about?{% endtrans %}</h4>
		<p>
			<a href="{{base}}/about" class="btn btn-success">{% trans %}About Lorry{% endtrans %}</a>
			<a href="{{base}}/clonk" class="btn">{% trans %}New to Clonk?{% endtrans %}</a>
		</p>
		<hr>
		<h4>{% trans %}Why should I register?{% endtrans %}</h4>
		<p>{% trans %}After registering you can instantly upload your own extensions, comment and vote on existing contributions.{% endtrans %}</p>
		<p>{% trans %}You become part of a small and friendly community, enjoying the game and devoting their time to it.{% endtrans %}</p>
	</div>
</div>
{% endblock %}