{% extends 'root.twig' %}

{% set title = 'Settings'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid" id="settings">
	<div class="span4">
		<hr class="visible-phone">
		<h2>{% trans "Profile" %}</h2>
		<h4 id="appearance">{% trans "Appearance" %}</h4>
		<form method="post" action="{{filename}}?change-appearance" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="username">{% trans "Username" %}</label>
				<div class="controls">
					<input type="text" name="username" id="username" value="{{username}}" required disabled>
				</div>
			</div>
			<div class="control-group">
				<div class="alert">{% trans "Contact us to change your username." %}</div>
			</div>
		</form>
		<h4 id="profiles">{% trans "Linked profiles" %}</h4>
		{% include 'functions/alert.twig' with {'selector' : 'profiles'} %}
		<form method="post" action="{{filename}}?change-profiles" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="clonkforge">{% trans "Clonk Forge profile" %}</label>
				<div class="controls">
					<input type="url" name="clonkforge" id="clonkforge" value="{{clonkforge}}" placeholder="{{clonkforge_placeholder}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="github">{% trans "GitHub name" %}</label>
				<div class="controls">
					<input type="text" name="github" id="github" value="{{github}}" placeholder="{{github_placeholder}}">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">{% trans "Change linked profiles" %}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="span4">
		<hr class="visible-phone">
		<h2 id="account">{% trans "Account" %}</h2>
		<h4 id="contact">{% trans "Contact details" %}</h4>
		{% include 'functions/alert.twig' with {'selector' : 'contact'} %}
		<form method="post" action="{{filename}}?change-contact" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="email">{% trans "Email address" %}</label>
				<div class="controls">
					<input type="email" name="email" id="email" value="{{email}}" required{% if focus_email %} autofocus{% endif %}>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">{% trans "Confirm email address" %}</button>
				</div>
			</div>
		</form>
		<h4 id="language">{% trans "Language" %}</h4>
		<form method="post" action="{{filename}}?change-language" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="language-setting">{% trans "View site in" %}</label>
				<div class="controls">
					<select name="language" id="language-setting" required>
						<option value="en-US"{% if language == "en-US" %} selected{% endif %}>{% trans "English" %}</option>
						<option value="de-DE"{% if language == "de-DE" %} selected{% endif %}>{% trans "German" %}</option>
					</select>
				</div>
			</div>
			<noscript>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">{% trans "Change language" %}</button>
				</div>
			</div>
			</noscript>
		</form>
		<h4 id="remove-account">{% trans "Remove account" %}</h4>
		<p><a href="#remove-account" data-toggle="collapse" data-target="#remove-account-confirm">{% trans %}Would you like to remove your account?{% endtrans %}</a></p>
		<div class="collapse" id="remove-account-confirm">
			<form method="post" action="{{filename}}?remove-account">
				<div class="alert alert-error">
					<strong>{% trans %}Removing your account is final.{% endtrans %}</strong> {% trans %}You will permanently loose control of all your uploaded addons.{% endtrans %}
				</div>
				<label class="checkbox">
					<input type="checkbox" id="remove-confirm"> {%trans "I have read and understood the warning." %}
				</label>
				<button type="submit" class="btn btn-danger" id="remove-button" disabled>{% trans "Permanently remove account"%}</button>
			</form>
		</div>
	</div>
	<div class="span4">
		<hr class="visible-phone">
		<h2 id="security">{% trans "Security" %}</h2>

		<h4 id="password">{% trans "Password" %}</h4>
			{% include 'functions/alert.twig' with {'selector' : 'password'} %}
			<form method="post" id="form-password" action="{{filename}}?change-password" class="form-horizontal">
				{% if password_exists %}
				<div class="control-group">
					<label class="control-label" for="password-old">{% trans "Old password" %}</label>
					<div class="controls">
						<input type="password" name="password-old" id="password-old" required{% if focus_password %} autofocus{% endif %}>
					</div>
				</div>
				{% endif %}
				<div class="control-group">
					<label class="control-label" for="password-new">{% trans "New password" %}</label>
					<div class="controls">
						<input type="password" name="password-new" id="password-new" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password-confirm">{% trans "Confirm password" %}</label>
					<div class="controls">
						<input type="password" name="password-confirm" id="password-confirm" required>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">{% if password_exists %}{% trans "Change password" %}{% else %}{% trans "Set password" %}{% endif %}</button>
					</div>
				</div>
			</form>
			<h4 id="remote-logout">{% trans "Sessions" %}</h4>
				{% include 'functions/alert.twig' with {'selector' : 'remote-logout'} %}
				<p><a href="#remote-logout" data-toggle="collapse" data-target="#remote-logout-confirm">{% trans %}Would you like to log out of all other devices?{% endtrans %}</a></p>
				<div class="collapse" id="remote-logout-confirm">
					<form method="post" action="{{filename}}?remote-logout">
						<button type="submit" class="btn btn-info">{% trans "Log out all other devices" %}</button>
					</form>
				</div>
				<h4 id="link">{% trans "Login services" %}</h4>
				{% include "functions/openid.twig "%}
			</div>
		</div>
{% endblock %}

{% block javascript %}
{{ parent() }}

$(document).ready(function() {
	$('#form-password input').each(function() {
		$(this).addClass('noerror')
		var require = function() {$(this).removeClass('noerror');};
		$(this).keypress(require);
		$(this).blur(require);
	});

	$('#language-setting').change(function() {
		$(this).closest('form').submit();
	});

	$('#remove-confirm').prop('checked', false);

	$('#remove-confirm').change(function() {
		if($(this).prop('checked')) {
			$('#remove-button').prop('disabled', false);
		} else {
			$('#remove-button').prop('disabled', true);
		}
	});
});
{% endblock %}