{% extends 'root.twig' %}

{% block content %}
<img src="{{base}}/img/game/{{short}}.png" class="pull-right hidden-phone">
<h1>{{ title }}</h1>
<!--<p>Something awesome about this extremely epic game.</p>
{% if user_login %}
	<a href="{{base}}/publish?for={{short}}" class="btn btn-success">{% trans %}Create new addon{% endtrans %}</a>
	<hr>
{% endif %}!-->
<h2>{% trans %}All addons{% endtrans %}</h2>
{% if addons %}
<div class="sort-bar">Sort <a href="#">{% trans %}by date{% endtrans %}</a> &#9660; | <a href="#">{% trans %}by name{% endtrans %}</a> | <a href="#">{% trans %}by rating{% endtrans %}</a></div>
<ul class="media-list addons">
{% for addon in addons %}
	<li class="media">
		<div class="pull-left">
		 <img class="media-object" src="http://placehold.it/200x150">
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{ addon.title }}</h4>
			<p class="hidden-phone">Vor langer Zeit, als Clonk noch 8bit war, brachte Redwolf Design ein futuristisches Zusatzpack namens Hazard heraus. Mit diesem Pack spielte man bewaffnete Clonks in Raumstationen und durfte Aliens und Mitspieler mit abgefahrenen Waffen über den Haufen schießen.</p>
			<p class="hidden-phone"><a href="#" class="btn btn-success">Download</a> <a href="#" class="btn">Show addons</a></p>
		</div>
	</li>
{% endfor %}
</ul>
{% else %}
<p class="alert alert-warning">{% trans %}There are no addons available for this game.{% endtrans %}</p>
{% endif %}
{% endblock %}