{% extends 'root.twig' %}

{% set title = 'Addons'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<p>The clonk series consists of multiple titles.</p>
<p><a href="{{base}}/clonk" class="btn btn-success">{% trans %}Learn all about Clonk{% endtrans %}</a></p>
<hr>
{% if games %}
<div class="row-fluid">
	{% for game in games %}
	<div class="span4">
		<h3>{{game.title}}</h3>
		<a href="{{base}}/addons/{{game.short}}"><img src="{{base}}/img/game/{{game.short}}.png"></a>
	</div>
	{% endfor %}
</div>
{% else %}
<p class="alert alert-warning">{% trans %}No games available.{% endtrans %}</p>
{% endif %}
{% endblock %}