{% extends 'root.twig' %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1><a href="{{base}}/addons/{{game.short}}/{{addon.short}}/{{version}}">{{ title }} <small>{% include 'functions/labels/version.twig' with {'version' : version} %}</small></a></h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<p class="" style="font-size: 0;">
							<img src="{{base}}img/title.png" style="width: 100%; margin-bottom: 2%;">
							<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 2%;">
							<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 2%;">
							<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 0;">
						</p>
						<div class="visible-desktop" id="download">
							<p class="center"><a href="{{base}}/download/{{game.short}}/{{addon.short}}/{{version}}" class="btn btn-primary btn-lg btn-block">{% trans %}Download{% endtrans %}</a></p>
							{% if requirements %}
								<p class="center">
									Requires
									{% for requirement in requirements %}
										<a href="{{base}}/addons/#}{{requirement.game}}/{{requirement.short}}">{{ requirement.title }}</a>
									{% endfor %}
								</p>
							{% endif %}
						</div>
					</div>
					<div class="col-md-8">
						<p class="help-block">
							{% if released %}
								{% trans %}Published on the {{releaseday}}{% endtrans %}
							{% else %}
								<strong>{% trans %}Not published yet{% endtrans %}</strong>
							{% endif %}
							{% if developer %}
								 &middot;
								{% set linked_developer %}<a href="{{developer.url}}">{{developer.name}}</a>{% endset %}
								{% trans %}Developed by {{linked_developer}}{% endtrans %}
							{% endif %}
						</p>
						{% if description %}
							<p>{{ description }}</p>
						{% else %}
							<p><em>{% trans %}This addon has no description.{% endtrans %}</em></p>
						{% endif %}
						{% if whatsnew %}
							<p>{{ whatsnew }}</p>
						{% endif %}
<!--						<p>{% trans %}Categories{% endtrans %} <a href="#">Shooter</a>, <a href="#">Strategy</a>, <a href="#">Arena</a>.</p>!-->
						{% if changelog %}
							<p><a href="#changelog" data-toggle="collapse" data-target="#changelog-block">{% trans %}Changelog{% endtrans %}</a></p>
							<div class="collapse" id="changelog-block">
								<pre>{{ changelog }}</pre>
							</div>
						{% endif %}
					</div>
				</div>
				<!--<hr>
				<h2>{% trans %}Rounds and Addons{% endtrans %}</h2>
				<img src="" style="width: 150px; height: 105px;">
				<img src="" style="width: 150px; height: 105px;">
				<img src="" style="width: 150px; height: 105px;">
				<h2>{% trans %}Comments{% endtrans %}</h2>-->
			</div>
			<div class="col-md-4 sidebar">
				{% if modify %}
					<h3>{% trans %}Release{% endtrans %}</h3>
					<p class="hidden-print">
						<a href="{{base}}/publish/{{addon.id}}" class="btn btn-block btn-default">{% trans %}Edit addon{% endtrans %}</a>
						<a href="{{base}}/publish/{{addon.id}}/{{version}}" class="btn btn-block btn-default">{% trans %}Edit release{% endtrans %}</a>
					</p>
				{% endif %}
				<h3>{% trans %}Community{% endtrans %}</h3>
				<ul class="list-group">
					{% if website %}<li class="list-group-item"><a href="{{website}}">{% trans %}Project page{% endtrans %}</a></li>{% endif %}
					{% if bugtracker %}<li class="list-group-item"><a href="{{bugtracker}}">{% trans %}Report a bug{% endtrans %}</a></li>{% endif %}
					<li class="list-group-item"><a href="#">{% trans %}Interested in an update?{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
