{% extends 'root.twig' %}

{% block content %}
<div class="container" style="max-width: 770px;">
	<h1>{{ title }}</h1>
	{% if developer or team %}
	<p class="pull-right author">
		{% if developer %}
			{% set developer = "<a href=\""~ base ~ "/users/" ~ developer ~"\">" ~ developer ~ "</a>" %}
			{% trans %}Developed by {{developer}}{% endtrans %}
		{% elseif team %}
			{% set team = "<a href=\"\">" ~ team ~ "</a>" %}
		{% trans %}Developed by the {{team}}{% endtrans %}
		{% endif %}
	</p>
	{% endif %}
	<p>{% trans %}Version {{version}}, released on the {{releaseday}}{% endtrans %}</p>
	{% if modify %}
	<a href="{{base}}/publish/{{game.short}}/{{addon.short}}" class="btn btn-info">{% trans %}Edit this addon{% endtrans %}</a>
	<a href="{{base}}/publish/{{game.short}}/{{addon.short}}/{{version}}" class="btn">{% trans %}Edit this release{% endtrans %}</a>
	{% endif %}
	<hr>
	<div class="row-fluid">
		<div class="span3">
		<p class="" style="font-size: 0;">
				<img src="{{base}}img/title.png" style="width: 100%; margin-bottom: 2%;">
				<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 2%;">
				<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 2%;">
				<img src="{{base}}img/title.png" style="padding: 0; border: 0; width: 32%; margin-left: 0; margin-right: 0;">
			</p>
			<div class="visible-desktop" id="download">
				<p class="center"><a href="{{base}}/download/{{game.short}}/{{addon.short}}/{{version}}" class="btn btn-primary">Download</a> 70.3MB total</p>
				{% if requirements %}
				<p class="center">
					Requires
					{% for requirement in requirements %}
						<a href="{{base}}/addons/{{requirement.game}}/{{requirement.short}}">{{ requirement.title }}</a>
					{% endfor %}
				</p>
				{% endif %}
			</div>
		</div>
		<div class="span9">
			{% if addon_description %}
				<p>{{ addon_description }}</p>
			{% else %}
				<p><em>This addon has no description.</em></p>
			{% endif %}
			{% if release_description %}
				<p>{{ release_description }}</p>
			{% endif %}
			<p>Categories <a href="#">Shooter</a>, <a href="#">Strategy</a>, <a href="#">Arena</a>.</p>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span8">
			<h3>{% trans %}Rounds and Addons{% endtrans %}</h3>
			<img src="" style="width: 150px; height: 105px;">
			<img src="" style="width: 150px; height: 105px;">
			<img src="" style="width: 150px; height: 105px;">
		</div>
		<div class="span4">
			<h3>{% trans %}Community{% endtrans %}</h3>
			<p>State: <span class="success">Active</span> [<a href="#" id="state">?</a>]</p>
			<ul>
				{% if website %}<li><a href="{{website}}">{% trans %}Project page{% endtrans %}</a></li>{% endif %}
				{% if bugtracker %}<li><a href="{{bugtracker}}">{% trans %}Report a bug{% endtrans %}</a></li>{% endif %}
				<li><a href="#">{% trans %}Interested in an update?{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}