{% if approval_comment %}
	{% set approval_comment %}
		<p><strong>{% trans %}Comment:{% endtrans %}</strong> {% if approval_comment %}{{approval_comment}}{% else %}<em>{% trans %}No comment.{% endtrans %}</em>{% endif %}</p>
	{% endset %}
{% endif %}
<form role=form" method="post" action="{{filename}}#approval">
	<input type="hidden" name="approval-form">
	<input type="hidden" name="state" value="{{state}}">
	{% if approved %}
		<div class="panel panel-success">
			<div class="panel-heading">{% trans %}Addon approved{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon was approved. Releases can now be published at any time.{% endtrans %}</p>
				{{approval_comment}}
			</div>
		</div>
	{% elseif submitted %}
		<div class="panel panel-info">
			<div class="panel-heading">{% trans %}Waiting for approval{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon was submitted for approval. A moderator will check this addon shortly.{% endtrans %}</p>
				<button type="submit" class="btn btn-default" name="withdraw">{% trans %}Withdraw{% endtrans %}</button>
			</div>
		</div>
	{% elseif rejected %}
		<div class="panel panel-danger">
			<div class="panel-heading">{% trans %}Addon rejected{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}Sorry, this addon was rejected. You can improve this addon and submit it again.{% endtrans %}</p>
				{{approval_comment}}
			</div>
		</div>
	{% else %}
		<div class="panel panel-warning">
			<div class="panel-heading">{% trans %}Approval required{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon needs to be approved by a moderator before releases can be published.{% endtrans %}</p>
			</div>
		</div>
	{% endif %}
	{% include 'functions/alert.twig' with {'selector' : 'approval'} %}
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="namespace">{% trans "Namespace" %}</label>
				<input type="text" class="form-control" name="namespace" id="namespace" value="{{namespace}}" placeholder="{{namespace_proposal}}" {% if approved or submitted %}disabled{% elseif focus_namespace %} autofocus{% endif %}>
			</div>
		</div>
		<div class="col-md-8">
			<h4>{% trans %}Choosing a good snamespace{% endtrans %}</h4>
			<p>{% trans %}The namespace will be used as a unique identifier for your addon and its releases. It will appear in various urls. Please choose a short and memorable namespace, ideally the filename of the addon.{% endtrans %}</p>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-default"{% if approved or submitted %} disabled{% endif %}>{% trans %}Save{% endtrans %}</button>
		<button class="btn btn-success" name="submit" {% if approved or submitted %} disabled{% endif %}>{% trans %}Submit for approval{% endtrans %}</button>
	</div>
</form>