{% if approval_comment %}
	{% set approval_comment %}
		<p><strong>{% trans %}Comment:{% endtrans %}</strong> {% if approval_comment %}{{approval_comment}}{% else %}<em>{% trans %}No comment.{% endtrans %}</em>{% endif %}</p>
	{% endset %}
{% endif %}
<form role=form" method="post" action="{{filename}}#basic">
	<input type="hidden" name="addon-form">
	<input type="hidden" name="state" value="{{state}}">
	{% if approved %}
		<div class="panel panel-success">
			<div class="panel-heading">{% trans %}Addon approved{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon was approved. Releases can now be published at any time.{% endtrans %}</p>
				{{approval_comment}}
			</div>
		</div>
	{% elseif submitted %}
		<div class="panel panel-info">
			<div class="panel-heading">{% trans %}Waiting for approval&hellip;{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon was submitted for approval. A moderator will check this addon shortly.{% endtrans %}</p>
				<button type="submit" class="btn btn-default" name="withdraw">{% trans %}Withdraw addon{% endtrans %}</button>
			</div>
		</div>
	{% elseif rejected %}
		<div class="panel panel-danger">
			<div class="panel-heading">{% trans %}Addon rejected{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon was rejected. You can possibly improve and submit it again.{% endtrans %}</p>
				{{approval_comment}}
			</div>
		</div>
	{% else %}
		<div class="panel panel-warning">
			<div class="panel-heading">{% trans %}Approval required{% endtrans %}</div>
			<div class="panel-body">
				<p>{% trans %}This addon needs to be approved by a moderator before releases can be published.{% endtrans %}</p>
			</div>
		</div>
	{% endif %}
	{% include 'functions/alert.twig' with {'selector' : 'addon'} %}
	<div class="row vertical-align">
		<div class="col-lg-4">
			<div class="form-group">
				<label for="title_en">{% trans %}English title{% endtrans %}</label>
				<input type="text" class="form-control" name="title_en" id="title_en" placeholder="{{title_placeholder}}" value="{{title_en}}"{% if submitted or approved %} disabled{% endif %}>
			</div>
			<div class="form-group">
				<label for="title_de">{% trans %}German title{% endtrans %}</label>
				<input type="text" class="form-control" name="title_de" id="title_de" placeholder="{{title_placeholder}}" value="{{title_de}}"{% if submitted or approved %} disabled{% endif %}>
			</div>
		</div>
		<div class="col-lg-8">
			<p>{% trans %}The title will be shown in many various places around the site.{% endtrans %}</p>
		</div>
	</div>
	<div class="row vertical-align">
		<div class="col-lg-4">
			<div class="form-group">
				<label for="namespace">{% trans "Namespace" %}</label>
				<input type="text" class="form-control" name="namespace" id="namespace" value="{{namespace}}" placeholder="{{namespace_proposal}}"{% if submitted or approved %} disabled{% endif %}>
			</div>
		</div>
		<div class="col-lg-8">
			{% if approved %}
				{% set url %}<samp>&hellip;/addons/{{game.short}}/<strong>{{namespace}}</strong></samp>{% endset %}
				<p>{% trans %}The addon will be published at {{url}}.{% endtrans %}</p>
			{% else %}
				<p>{% trans %}The namespace will be used as a unique identifier for your addon and its releases. It will appear in various urls. Please choose a short namespace, ideally the filename of the addon.{% endtrans %}</p>
			{% endif %}
		</div>
	</div>
	<div class="row vertical-align">
		<div class="col-lg-4">
			<div class="form-group">
				<label for="type">{% trans "Game" %}</label>
				<select name="game" class="form-control" id="type" required{% if submitted or approved %} disabled{% endif%}>
					{% for short, currentgame in games %}
						<option value="{{short}}"{% if short == game.short %} selected{% endif %}>{{currentgame.title}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-lg-8">
			{% if approved %}
				{% set gametitle %}{{game.title}}{% endset %}
				<p>{% trans %}The addon is playable with <strong>{{gametitle}}</strong>.{% endtrans %}</p>
			{% else %}
				{% set create_a_new_addon %}<a href="{{base}}/publish">{% trans %}create a new addon{% endtrans%}</a>{% endset %}
				<p>{% trans %}The addon must be for a specific Clonk game. Consider choosing a different title if you create a version for a different game so players don't get confused and {{create_a_new_addon}}.{% endtrans %}</p>
			{% endif %}
		</div>
	</div>
	<div class="row vertical-align">
		<div class="col-lg-4">
			<div class="form-group">
				<label for="type">{% trans %}Abbreviation{% endtrans %} {% trans %}(optional){% endtrans %}</label>
				<input type="text" class="form-control" name="abbreviation" id="abbreviation" value="{{abbreviation}}" {% if approved and not abbreviation %} placeholder="{% trans %}Not set{% endtrans %}"{% endif %}{% if submitted or approved %} disabled{% endif %}>
			</div>
		</div>
		<div class="col-lg-8">
			{% if approved %}
				{% if appreviation %}
					<p>{% trans %}Players will be able to search for your addon by using the abbreviation.{% endtrans %}</p>
				{% else %}
					{% set Contact_us %}<a href="{{base}}/contact">{% trans %}Contact us{% endtrans %}</a>{% endset %}
					<p>{% trans %}{{Contact_us}} to add an abbreviation.{% endtrans %}</p>
				{% endif %}
			{% else %}
				<p>{% trans %}Please only enter an abbreviation if it is (to some extent) well known.{% endtrans %}</p>
			{% endif %}
		</div>
	</div>
    {% if not approved %}
    <p class="help-block"><span class="glyphicon glyphicon-lock"></span> <strong>{% trans %}These settings cannot be changed after approval.{% endtrans %}</strong></p>
	<div class="form-group">
		<button type="submit" name="save" class="btn btn-primary"{% if submitted or approved %} disabled{% endif %}>{% trans "Save" %}</button>
		<button type="submit" name="submit" class="btn btn-success lorry-js-warn" data-warning="{% trans %}The details on this page cannot be changed anymore once the addon has been submitted and approved.{% endtrans %}\n\n{% trans %}All other settings can still be changed.{% endtrans %}\n\n{% trans%}Are you sure you want to submit this addon?{% endtrans %}" {% if submitted or approved %} disabled{% endif %}>{% trans "Submit for approval" %}</button>
		<!--<a href="#" class="btn btn-link">{% trans %}Would you like to remove this addon?{% endtrans %}</a>!-->
	</div>
    {% else %}
    <p class="help-block">{% trans %}These settings cannot be changed anymore.{% endtrans %}</strong></p>
    {% endif %}
</form>
