<form role="form" method="post" action="{{filename}}#presentation">
	<input type="hidden" name="presentation-form">
	<input type="hidden" name="state" value="{{state}}">
	{% include 'functions/alert.twig' with {'selector' : 'presentation'} %}
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label for="introduction_en">{% trans "Introduction (English)" %}</label>
				<textarea class="form-control" id="introduction_en" name="introduction_en" rows="4" placeholder="{% trans %}Briefly introduce English users into this addon's setting.{% endtrans %}">{{introduction_en}}</textarea>
			</div>
			<div class="form-group">
				<label for="introduction_de">{% trans "Introduction (German)" %}</label>
				<textarea class="form-control" id="introduction_de" name="introduction_de" rows="4" placeholder="{% trans %}Briefly introduce German users into this addon's setting.{% endtrans %}">{{introduction_de}}</textarea>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{% set x = 200 %}{% set y = 150%}
				<label for="title">{% trans %}Title image ({{x}}&times;{{y}}){% endtrans %}</label>
				<div>
					{% if image %}
					<img class="media-object" src="http://placehold.it/200x150" width="76" height="57"></p>
					{% endif %}
					<p>
						<button class="btn btn-success">{% trans %}Select file&hellip;{% endtrans %}</button>
						{% if image %}<button class="btn btn-default">{% trans %}Remove{% endtrans %}</button>{% endif %}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="website-url">{%trans "Website" %}</label>
				<input type="url" class="form-control" name="website-url" id="website-url" value="{{website}}" placeholder="http://clonkforge.net/pr.php?pr=">
			</div>
			<div class="form-group">
				<label for="bugtracker-url">{%trans "Bugtracker" %}</label>
				<input type="url" class="form-control" name="bugtracker-url" id="bugtracker-url" value="{{bugtracker}}" placeholder="http://clonkforge.net/bugtrack.php?prj=">
			</div>
			<div class="form-group">
				<label for="forum-url">{%trans "Forum" %}</label>
				<input type="url" class="form-control" name="forum-url" id="forum-url" value="{{forum}}" placeholder="http://clonkforge.net/dforum.php?prj=">
			</div>
		</div>
	</div>
	<p class="help-block">{% trans %}The presentation can be changed anytime and affects all releases.{% endtrans %}</p>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
		<span class="btn" disabled></span>
	</div>
</form>
