<div class="row">
	<div class="col-md-4">
		<label for="version">{% trans "Version" %}</label>
		<form role=form" class="form-inline" method="post" action="{{filename}}#releases">
			<input type="hidden" name="releases-form">
			<input type="hidden" name="state" value="{{state}}">
			{% include 'functions/alert.twig' with {'selector' : 'release'} %}
			<div class="form-group">
				<label class="sr-only" for="version">{% trans "Version" %}</label>
				<input type="text" class="form-control" name="version" id="version" value="{{version}}" placeholder="1.0b"{% if focus_version %} autofocus{% endif %} required>
			</div>
			<button type="submit" class="btn btn-success" name="release-submit">{% trans %}Plan release{% endtrans %}</button>
			<span class="help-block">{% trans %}Releases are invisible until you publish them.{% endtrans %}</span>
		</form>
	</div>
	<div class="col-md-8">
		<label for="type">{% trans "Releases" %}</label>
		<div class="list-group">
			{% for release in releases %}
				<a class="list-group-item" href="{{base}}/publish/{{addonid}}/{{release.version}}">
					{% set version = release.version %}
					<strong>{{addontitle}}</strong>
					{% include 'functions/labels/version.twig' with {'version' : version} %}
					{% if release.released %}
						{% if release.latest %}
							{% include "functions/labels/latest.twig" %}
						{% else %}
							{% include "functions/labels/published.twig" %}
						{% endif %}
					{% else %}
						{% if release.scheduled %}
							{% include "functions/labels/scheduled.twig" %}
						{% else %}
							{% include "functions/labels/unpublished.twig" %}
						{% endif %}
					{% endif %}
				</a>
			{% else %}
				<span class="list-group-item text-muted">{% trans %}No release created{% endtrans %}</span>
			{% endfor %}
		</div>
	</div>
</div>
