{% extends 'root.twig' %}

{% set title = 'Users'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>
				<a href="{{filename}}">{{title}}</a>
				{% if filter %}
				<small>
					<a href="{{base}}{{origpath}}" class="label label-default">{{filter}} <span aria-hidden="true">&times;</span></a>
				</small>
				{% endif %}
			</h1>
		</div>
	</div>
	{% if users %}
		{% set width = 2 %}
		<div class="container">
			<nav>
				<ul class="pagination">
					{% if page - width > 1 %}
					<li><a href="{{self}}?page=1">1</a></li>
					{% if page - width != 2 %}<li class="disabled"><a href="">&hellip;</a></li>{% endif %}
					{% endif %}
					{% for i in page - width..page + width %}
					<li{% if i == page %} class="active"{% endif %}><a href="{{self}}?page={{i}}">{{i}}{% if i == page %} <span class="sr-only">(current)</span>{% endif %}</a></li>
					{% endfor %}
					{% if page + width < lastPage %}
					{% if page + width != lastPage - 1 %}<li class="disabled"><a href="">&hellip;</a></li>{% endif %}
					<li><a href="{{self}}?page={{lastPage}}">{{lastPage}}</a></li>
					{% endif %}
				</ul>
			</nav>
			<ul class="list-group">
				{% for user in users %}
					<a href="{{base}}/users/{{user.username}}" class="list-group-item">
						{% include "functions/user.twig" with {'user' : user, 'nolink' : true} %}
					</a>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="jumbotron">
			<div class="container">
				<h1>{% trans %}No matching users{% endtrans %}</h1>
				<p>{% trans %}No user currently matches your filtering critera.{% endtrans %}</p>
			</div>
		</div>
	{% endif %}
{% endblock %}
