{% extends 'root.twig' %}

{% block content %}
<h1>{{ username }}</h1>
<div class="row-fluid">
	<div class="span4">
		<hr class="visible-phone">
		<h2>{% trans %}User{% endtrans %}</h2>
		{% if banned %}
			<h4>{% trans %}Banned{% endtrans %}</h4>
			<p class="alert alert-error">{% trans %}This user is banned.{% endtrans %}</p>
		{% endif %}
		{% if administrator or moderator %}
			<h4>{% trans %}Privilegien{% endtrans %}</h4>
			{% if administrator %}<p class="alert alert-success">{% trans %}This user is administrator.{% endtrans %}</p>{% endif %}
			{% if moderator %}<p class="alert alert-success">{% trans %}This user is moderator.{% endtrans %}</p>{% endif %}
		{% endif %}
		<h4>{% trans %}Information{% endtrans %}</h4>
		<p>Benutzername: {{username}}.</p>

		{% if __administrator or (__moderator and moderator == false) %}
			{% if not self %}
				<h2>{% trans "Moderation" %}</h2>
					<div id="moderate">
						<p>
							<a href="#" data-toggle="collapse" data-target="#support" data-parent="#moderate" class="btn btn-success">Support</a>
							<a href="#" data-toggle="collapse" data-target="#ban" data-parent="#moderate" class="btn btn-danger">Ban</a>
						</p>
						<div id="support" class="collapse">
							<h2>Support</h2>
						</div>
						<div id="ban" class="collapse">
							<h2>Ban</h2>
						</div>
					</div>
			{% endif %}
		{% endif %}
		{% if profiles %}
			<h4>{% trans %}Profiles{% endtrans %}</h4>
			<ul>
				<li><a href="{{clonkforge}}">{% trans %}1{{username}} on the Clonk Forge{% endtrans %}</a></li>
				<li><a href="{{github}}">{% trans %}1{{username}} on GitHub{% endtrans %}</a></li>
			</ul>
		{% endif %}
	</div>
	<div class="span8">
		<hr class="visible-phone">
		<h2>{% trans %}Activity{% endtrans %}</h2>
		<h4>{% trans %}Addons{% endtrans %}</h4>
		{% if addons %}
		<ul>
		{% for addon in addons %}
			<li>{{ addon }}</li>
		{% endfor %}
		</ul>
		{% else %}
		<div class="alert alert-warning">{% trans %}This user has not released any addons yet.{% endtrans %}</div>
		{% endif %}
		<h4>{% trans %}Comments{% endtrans %}</h4>
		{% if comments %}
		<table>
		{% for comment in comments %}
			<tr class="comment">
				<th><a href="{{ comment.url }}">{{ comment.timestamp }}</a></th>
				<td>{{ comment.content }}</td>
			</tr>
		{% endfor %}
		</table>
		{% else %}
		<div class="alert alert-warning">{% trans %}This user has not commented yet.{% endtrans %}</div>
		{% endif %}
	</div>
</div>
{% endblock %}