{% extends 'root.twig' %}

{% block content %}
<h1>{{ username }}</h1>
<hr class="visible-phone">
<div class="row-fluid">
	<div class="span4">
		<h2>{% trans "User" %}</h2>
		{% if self %}
		<div class="alert alert-info">{% trans "This is you." %}</div>
		{% endif %}
		{% if banned %}<div class="alert alert-error">{% trans "This user is banned." %}</div>{% endif %}
		{% if administrator %}<div class="alert alert-success">{% trans "This user is admin." %}</div>{% endif %}
		{% if not administrator and moderator %}<div class="alert alert-success">{% trans "This user is moderator." %}</div>{% endif %}
		{% if self %}
			<a href="{{base}}/settings" class="btn">{% trans "Open settings" %}</a>
		{% endif %}
		{% if __administrator or (__moderator and moderator == false) %}
			{% if not self %}
				<h2>{% trans "Moderation" %}</h2>
					<div id="moderate">
						<p>
							<a href="#" data-toggle="collapse" data-target="#support" data-parent="#moderate" class="btn btn-success">Support</a>
							<a href="#" data-toggle="collapse" data-target="#ban" data-parent="#moderate" class="btn btn-danger">Ban</a>
						</p>
						<div id="support" class="collapse">
							<h2>Support</h2>
						</div>
						<div id="ban" class="collapse">
							<h2>Ban</h2>
						</div>
					</div>
			{% endif %}
		{% endif %}
		{% if profiles %}
			<h2>{% trans "Profiles" %}</h2>
			<ul>
			{% for profile in profiles %}
				{% set platform = profile.platform|e %}
				{% set username = profile.username|e %}
				<li><a href="{{profile.url}}">{% trans %}{{username}} on {{platform}}{% endtrans %}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="span8">
		<hr class="show-mobile">
		<h2>{% trans "Addons" %}</h2>
		<div class="alert alert-warning">{% trans %}This user has not released any addons yet.{% endtrans %}</div>
		<hr class="show-mobile">
		<h2>{% trans "Comments" %}</h2>
		<div class="alert alert-warning">{% trans %}This user has not commented yet.{% endtrans %}</div>
	</div>
</div>
{% endblock %}