{% extends 'root.twig' %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{ username }}
				{% if administrator or moderator or banned %}
					<small>
						{% if administrator %}<span class="label label-success">{% trans %}Administrator{% endtrans %}</span>
						{% elseif moderator %}<span class="label label-primary">{% trans %}Moderator{% endtrans %}</span>
						{% endif %}
						{% if banned %}<span class="label label-danger">{% trans %}Banned{% endtrans %}</span>
						{% endif %}
					</small>
				{% endif %}
			</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>{% trans %}User{% endtrans %}</h2>
				<ul class="list-group">
					{% if registration %}
						<li class="list-group-item" title="{% trans %}Welcome to Lorry!{% endtrans %}"><span class="glyphicon glyphicon-user"></span> {% trans %}Registered on {{registration}}{% endtrans %}</li>
						{% endif %}
						{% if flags.founder %}
						<li class="list-group-item" title="{% trans %}Well that took a bit longer than expected{% endtrans %}"><span class="glyphicon glyphicon-fire"></span> <a href="{{base}}/about#about" class="text">{% trans %}Founder of Lorry{% endtrans %}</a></li>
						{% elseif flags.alpha %}
						<li class="list-group-item" title="{% trans %}Registered on the alpha site{% endtrans %}"><span class="glyphicon glyphicon-heart"></span> {% trans %}Took part in Lorry Alpha{% endtrans %}</li>
						{% elseif flags.beta %}
						<li class="list-group-item" title="{% trans %}Registered on the beta site{% endtrans %}"><span class="glyphicon glyphicon-heart-empty"></span> {% trans %}Took part in Lorry Beta{% endtrans %}</li>
						{% endif %}
						{% if flags.vip %}
						<li class="list-group-item" title="{% trans %}Built something awesome for the Clonk community{% endtrans %}"><span class="glyphicon glyphicon-globe"></span> {% trans %}Valuable community member{% endtrans %}</li>
						{% endif %}
						{% if flags.coder %}
						<li class="list-group-item" title="{% trans %}Knows Google-fu{% endtrans %}"><span class="glyphicon glyphicon-cog"></span> {% trans %}Lorry hacker{% endtrans %}</li>
						{% endif %}
						{% if flags.reporter %}
						<li class="list-group-item" title="{% trans %}&quot;Hey, what's that button do?&quot;{% endtrans %}"><span class="glyphicon glyphicon-flag"></span> {% trans %}Reported a bug in Lorry{% endtrans %}</li>
						{% endif %}
				</ul>
				{% if clonkforge or github %}
					<h3>{% trans %}Links{% endtrans %}</h3>
					<ul class="list-group">
						{% if clonkforge %}<li class="list-group-item"><a href="{{clonkforge.url}}">{{clonkforge.profile}}</a></li>{% endif %}
						{% if github %}<li class="list-group-item"><a href="{{github.url}}">{{github.profile}}</a></li>{% endif %}
					</ul>
				{% endif %}
				{% if not self and user_administrator or (user_moderator and moderator == false) %}
					<h3 id="moderate">{% trans %}Moderation{% endtrans %}</h3>
					<p>
						<a href="{{username}}/edit" class="btn btn-default">{% trans %}Edit user{% endtrans %}</a>
					</p>
				{% endif %}
			</div>
			<div class="col-md-8">
				<h2>{% trans %}Activity{% endtrans %}</h2>
				{% if addons %}
					<ul class="media-list">
						{% for addon in addons %}
							{% include "functions/addon.twig" %}
						{% endfor %}
					</ul>
				{% elseif self %}
					{% set create_one_now %}<a href="{{base}}/developers">{% trans %}create one now{% endtrans %}</a>{% endset %}
					<div class="alert alert-info">{% trans %}You have not released any addons yet. Why not {{create_one_now}}?{% endtrans %}</a></div>
				{% else %}
					<div class="alert alert-warning">{% trans %}This user has not released any addons yet.{% endtrans %}</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}