{% extends 'root.twig' %}

{% set title = 'New addon'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="container">
		<form role=form" method="post" action="{{filename}}">
			<input type="hidden" name="state" value="{{state}}">
			<div class="row">
				<div class="col-md-5">
					{% include 'functions/alert.twig' with {'selector' : 'creation'} %}
					<div class="form-group">
						<label for="title">{% trans "Title" %}</label>
						<input type="text" class="form-control input-lg" name="title" id="title" value="{{addontitle}}" placeholder="{{exampletitle}}" required{% if not title_valid %} autofocus{% endif %}>
					</div>
					<div class="form-group">
						<label for="game">{% trans "Game" %}</label>
						<div class="btn-group" data-toggle="buttons">
							{% for short, current_game in games %}
								<label class="btn btn-default">
									<img src="{{resources}}/custom/game/{{short}}.png" alt="{{current_game.title}}" class="img-responsive">
									<input type="radio" name="game" value="{{short}}" {% if game == short %}checked {% endif %}required>
								</label>
							{% endfor %}
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-lg btn-success">{% trans "Create addon" %}</button>
					</div>
				</div>
				<div class="col-md-7">
					<h2>{% trans %}You have an awesome idea?{% endtrans %}</h2>
					<p class="lead">{% trans %}Whether it's magic caves or exploding Wipfs, {{brand}} is the place to publish all your addons.{% endtrans %}</p>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block javascript %}
	$('[data-toggle=buttons] .btn:has(input:checked)').button('toggle');
{% endblock%}