{% extends 'root.twig' %}

{% set title = 'Developer portal'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				{% if user_login %}
					<form role=form" method="post" action="{{filename}}">
						<input type="hidden" name="state" value="{{state}}">
						{% include 'functions/alert.twig' with {'selector' : 'creation'} %}
						<div class="form-group">
							<label for="title">{% trans "Title" %}</label>
							<input type="text" class="form-control input-lg" name="title" id="title" value="{{addontitle}}" placeholder="{{exampletitle}}" required{% if focus_title %} autofocus{% endif %}>
						</div>
						<div class="form-group">
							<label for="game">{% trans "Game" %}</label>
							<div class="btn-group" data-toggle="buttons">
								{% for game in games %}
									<label class="btn btn-default">
										<img src="{{resources}}/custom/game/{{game.short}}.png" alt="{{game.title}}" class="img-responsive">
										<input type="radio" name="game" value="{{game.short}}" {% if selected_game == game.short %}checked {% endif %}required>
									</label>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-lg btn-success">{% trans "Create addon" %}</button>
						</div>
					</form>					
				{% else %}
					<h2>{% trans %}You have an awesome idea?{% endtrans %}</h2>
					<p class="lead">{% trans %}You can create new addons here after you've registered.{% endtrans %}</p>
					{% set exampletitle %}<strong>{{exampletitle}}</strong>{% endset %}
					<p class="help-block">{% trans %}How about {{exampletitle}}?{% endtrans %}</p>
					<p>
						<a href="{{base}}/register?returnto={{origpath}}" class="btn btn-lg btn-success">{% trans %}Register now{% endtrans %}</a>
						<a href="{{base}}/login?returnto={{origpath}}" class="btn btn-lg btn-primary">{% trans %}Login{% endtrans %}</a>
					</p>
					<hr>
				{% endif %}
			</div>
			<div class="col-md-7">
				{% if user_login %}
					<hr class="visible-xs visible-sm">
					<h2>{% trans %}Let's get started!{% endtrans %}</h2>
					<p class="lead">{% trans %}Whether it's magic caves or exploding Wipfs, {{brand}} is the place to publish all your best addons.{% endtrans %}</p>
					<p>
						<a href="http://crdocs.clonkspot.org/de/sdk/" class="btn btn-lg btn-primary" target="_blank">{% trans %}Clonk Rage documentation{% endtrans %}</a>
						<a href="http://wiki.openclonk.org/w/Development" class="btn btn-lg btn-primary" target="_blank">{% trans %}OpenClonk documentation{% endtrans %}</a>
					</p>
					<p class="help-block">{% trans %}Please don't <em>actually</em> blast Wipfs into oblivion.{% endtrans %}</p>
				{% endif %}
				<div class="row">
					<div class="col-sm-6">
						<h3>{% trans %}Getting started{% endtrans %}</h3>
						<p>{% trans %}We know it's not always easy to build something awesome. With the introduction on Clonkspot you should at least have a rough idea how everything works.{% endtrans %}</p>
						<p><a href="https://clonkspot.org/development" class="btn btn-info" target="_blank">{% trans %}Introduction on Clonkspot{% endtrans %}</a></p>
					</div>
					<div class="col-sm-6">
						<h3>{% trans %}Integrating {{brand}}{% endtrans %}</h3>
						<p>{% trans %}Would you like to integrate {{brand}} into your project? The Lorry platform offers an API for you to request information about addons and releases.{% endtrans %}</p>
						<p><a href="{{base}}/about/api" class="btn btn-default">{% trans %}API portal{% endtrans %}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{% if user_login %}$('[data-toggle=buttons] .btn:has(input:checked)').button('toggle');{% endif %}
{% endblock%}
