{% extends 'root.twig' %}

{% set title = 'My addons'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}Your addons will appear here{% endtrans %}</h1>
			<p>{% trans %}You can manage all your addons here after you've logged in.{% endtrans %}</p>
			<p>
				<a href="{{base}}/login?returnto={{origpath}}" class="btn btn-lg btn-primary">{% trans %}Login{% endtrans %}</a>
				<a href="{{base}}/register?returnto={{origpath}}" class="btn btn-lg btn-success">{% trans %}Not registered yet?{% endtrans %}</a>
			</p>
		</div>
	</div>
{% endblock %}
