{% extends 'root.twig' %}

{% set title = 'Publish'|trans %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>{{ title }}{% if not addons %} <small><a href="{{filename}}/create" class="label label-success">{% trans %}New addon{% endtrans %}</a></small>{% endif %}</h1>
	</div>
{% if addons %}
	<div class="row">
		<div class="col-md-12">
			<ul class="media-list addons-small">
				{% for addon in addons %}
				<li class="media media-addon">
					<div class="pull-left">
						<img class="media-object" src="http://placehold.it/76x57">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{addon.title}}</h4>
						{% include 'functions/tags/game.twig' with {'short' : addon.game.short, 'title' : addon.game.title}%}
						<p>
							<a href="{{filename}}/addons/{{addon.id}}/edit" class="btn btn-sm btn-info">{% trans %}Edit addon{% endtrans %}</a>
						</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% else %}
</div>
<div class="jumbotron">
	<div class="container">
		<h2>{% trans %}Welcome to the publishing portal!{% endtrans %}</h2>
		<p>{% trans %}Here you can publish your addons and make them available to your fans. Click the button below to get started.{% endtrans %}</p>
		<p><a href="{{filename}}/create" class="btn btn-success">{% trans %}Create a new addon{% endtrans %}</a></p>
	</div>
{% endif %}
</div>
{% endblock %}