{% extends 'root.twig' %}

{% set title = 'My addons'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	{% if addons %}	
		<div class="container">
			{% include 'functions/alert.twig' with {'selector' : 'addons'} %}
			<ul class="media-list addons-small">
				{% for addon in addons %}
					<li class="media media-addon">
						<div class="pull-left">
							<a href="{{filename}}/{{addon.id}}">
							{% if false %}
							<img class="media-object" src="{{resources}}/lorry/img/addon-60x80.png">
							{% else %}
							{% include "functions/svg/addon.twig" %}
							{% endif %}
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><a href="{{filename}}/{{addon.id}}">{{addon.title}}</a></h4>
							{% include 'functions/tags/game.twig' with {'game' : addon.game}%}
							<p>
								<a href="{{filename}}/{{addon.id}}" class="btn btn-sm btn-primary">{% trans %}Edit addon{% endtrans %}</a>
								<a href="{{filename}}/{{addon.id}}#releases" class="btn btn-sm btn-default">{% trans %}Manage releases{% endtrans %}</a>
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
            {% set developer_portal %}<a href="{{base}}/developers?create">{% trans %}developer portal{% endtrans %}</a>{% endset %}
            <p class="help-block">{% trans %}You can create new addons at the {{developer_portal}}.{% endtrans %}</p>
		</div>
	{% else %}
		<div class="jumbotron">
			<div class="container">
				<h1>{% trans %}Your addons will appear here{% endtrans %}</h1>
				<p>{% trans %}Visit the developer portal to get started with a new addon.{% endtrans %}</p>
				<p><a href="{{base}}/developers" class="btn btn-lg btn-info">{% trans %}Developer portal{% endtrans %}</a></p>
			</div>
		</div>
	{% endif %}
{% endblock %}
