{% extends 'root.twig' %}

{% set title = 'My addons'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	{% if addons %}	
		<div class="container">
			{% include 'functions/alert.twig' with {'selector' : 'addons'} %}
			<ul class="media-list addons-small">
				{% for addon in addons %}
					<li class="media media-addon">
						<div class="pull-left">
							{% if false %}
							<img class="media-object" src="{{resources}}/lorry/img/addon-60x80.png">
							{% else %}
							{% include "functions/addon.svg" %}
							{% endif %}
						</div>
						<div class="media-body">
							<h4 class="media-heading">{{addon.title}}</h4>
							{% include 'functions/tags/game.twig' with {'game' : addon.game}%}
							<p>
								<a href="{{filename}}/{{addon.id}}" class="btn btn-sm btn-info">{% trans %}Edit addon{% endtrans %}</a>
								<a href="{{filename}}/{{addon.id}}#releases" class="btn btn-sm btn-default">{% trans %}Edit releases{% endtrans %}</a>
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="jumbotron">
			<div class="container">
				<h2>{% trans %}Welcome to the publishing portal!{% endtrans %}</h2>
				<p>{% trans %}Here you can publish your addons and make them available to your fans. Click the button below to get started.{% endtrans %}</p>
				<p><a href="{{base}}/create" class="btn btn-lg btn-success">{% trans %}Create a new addon{% endtrans %}</a></p>
			</div>
		</div>
	{% endif %}
{% endblock %}