{% extends 'root.twig' %}

{% set title = 'Publish'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid">
	<div class="span4">
		<hr class="visible-phone">
		<h2>{% trans %}Create{% endtrans %}</h2>
		<h4>{% trans %}Addon{% endtrans %}</h4>
		{% include 'functions/alert.twig' with {'selector' : 'create'} %}
		<form method="post" action="{{filename}}" id="form-publish" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="game">{% trans %}Game{% endtrans %}</label>
				<div class="controls">
					<select name="game" id="game" required{% if not games %} disabled{% endif %}>
						<option value="">{% trans %}Select a game&hellip;{% endtrans %}</option>
						{% for game in games %}
						<option value="{{ game.short }}"{% if game.selected %} selected{% endif %}>{{ game.title }}</option>
						{% else %}
						<option>{% trans %}No game available{% endtrans %}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">{% trans %}Full Title{% endtrans %}</label>
				<div class="controls">
					<input type="text" name="title" id="title" value="{{addon_title}}" maxlength="32" required{% if focus == 'title' %} autofocus{% endif %}>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">{% trans "Create addon" %}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="span8">
		<hr class="visible-phone">
		<h2>{% trans %}Your addons{% endtrans %}</h2>
		<h4>{% trans %}Unreleased{% endtrans %}</h4>
		<div class="alert alert-warning">{% trans %}You have not created a new addon yet.{% endtrans %}</div>
		<h4>{% trans %}Released{% endtrans %}</h4>
		{% if addons_released %}
		<ul>
		{% for addon in addons_released %}
				<li><a href="{{ addon.url }}">{{ addon.title }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<div class="alert alert-warning">{% trans %}You have not released an addon yet.{% endtrans %}</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}

$(document).ready(function() {
	$('#form-publish input, #form-publish select').each(function() {
		$(this).addClass('noerror')
		var require = function() {$(this).removeClass('noerror');};
		$(this).keydown(require);
		$(this).blur(require);
	});
});
{% endblock %}