{% extends 'root.twig' %}

{% set scripts = ['/resumable/resumable.js', '/lorry/js/lorry-asset-upload.js', '/lorry/js/lorry-release-upload.js'] %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>
				<a href="{{base}}/publish/{{addonid}}#releases">
					{{addontitle}}
				</a>
				<small>{% include 'functions/labels/version.twig' with {'version' : version, prefix: 'Release'|trans} %}
					{% if released %}
						{% if latest %}
							{% include "functions/labels/latest.twig" %}
						{% endif %}
					{% else %}
						{% if scheduled %}
							{% include "functions/labels/scheduled.twig" %}
						{% else %}
							{% include "functions/labels/unreleased.twig" %}
						{% endif %}
					{% endif %}
					<span class="glyphicon glyphicon-pencil"></span>
				</small>
			</h1>
		</div>
	</div>
	<div class="container">
		<noscript>
		<div class="alert alert-danger">{% trans %}Javascript needs to be enabled in order to edit addons and releases.{% endtrans %}</div>
		</noscript>
		<ul class="nav nav-tabs" id="editAddonTabs">
			<li class="active"><a href="#basic" data-toggle="tab">{% trans "Release" %}</a></li>
			<li><a href="#files" data-toggle="tab">{% trans "Files" %}</a></li>
			<li><a href="#dependencies" data-toggle="tab">{% trans "Dependencies" %}</a></li>
			<li><a href="#changes" data-toggle="tab">{% trans "Changes" %}</a></li>
			<li><a href="#publish" data-toggle="tab">{% trans "Publish" %}</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="basic">
				{% include "publish/edit/release/basic.twig" %}
			</div>
			<div class="tab-pane" id="files">
				{% include "publish/edit/release/files.twig" %}
			</div>

			<div class="tab-pane" id="dependencies">
				{% include "publish/edit/release/dependencies.twig" %}
			</div>

			<div class="tab-pane" id="changes">
				{% include "publish/edit/release/changes.twig" %}
			</div>

			<div class="tab-pane" id="publish">
				{% include "publish/edit/release/publish.twig" %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	$('.tab-pane form').areYouSure({'message':translation.unsavedChanges});

	var lorryTokenizer = function(a) {
	return [a.title, a.abbreviation];
	};

	function prefetchFilter(parsedResponse) {
	var addons = [];
	$(parsedResponse).each(function(key, addon) {
	addons.push(addon);
	});
	console.log(addons);
	return addons;
	}

	var publicAddons = new Bloodhound({
	datumTokenizer: lorryTokenizer,
	queryTokenizer: Bloodhound.tokenizers.whitespace,
	local: [{ title: 'Hazard', abbreviation: 'hzck' }], // example
	prefetch: {url: '{{base}}/addons/{{game}}.json?headless', filter: prefetchFilter},
	//		remote: {url: '{{base}}/search.json?for=%QUERY', filter: prefetchFilter},
	thumbprint: '3' // hash of all addon versions
	});

	publicAddons.initialize();

	$('#add-dependency').typeahead(null, {
	name: 'public-addons',
	displayKey: 'title',
	source: publicAddons.ttAdapter(),
	templates: {
	suggestion: function(a) { return '<strong>'+a.title+'</strong>'; }
	}
	}).on('typeahead:selected', selectDependencyAddon);

	$('#add-dependency-reset').click(resetDependencyVersions);
	$('#add-dependency-select').click(selectDependencyAddon);

	resetDependencyVersions();

	function resetDependencyVersions() {
	$('#add-dependency').removeAttr('disabled');
	$('#add-dependency-select').removeAttr('disabled');
	$('#add-dependency-version').empty();
	$('#add-dependency-version').append($('<option disabled>{% trans %}Select an addon first&hellip;{% endtrans %}</option>'));
	$('#add-dependency-version').attr('disabled', true);
	}

	function selectDependencyAddon() {
	$('#add-dependency').attr('disabled', true);
	$('#add-dependency-select').attr('disabled', true);
	$('#add-dependency-version').empty();
	$('#add-dependency-version').append($('<option disabled>{% trans %}Loading versions&hellip;{% endtrans %}</option>'));
	//$.get('', function() {
	//	$('#add-dependency-version').removeAttr('disabled');
	//  $('#add-dependency-version').empty();
	//	$('#add-dependency-version').append($('<option disabled>{% trans %}Select a version&hellip;{% endtrans %}</option>'));
	//});
	}

{% endblock %}