{% extends 'root.twig' %}

{% set title = 'Moderator portal'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
                <h2>{% trans %}Management{% endtrans %}</h2>
				<h3>{% trans %}Users{% endtrans %}</h3>
				<a href="{{base}}/users" class="btn btn-default">{% trans %}Users{% endtrans %}</a>
				<a href="{{base}}/users?filter=moderators" class="btn btn-primary">{% trans "Moderators" %}</a>
				<a href="{{base}}/users?filter=administrators" class="btn btn-success">{% trans "Administrators" %}</a>
			</div>
			<div class="col-md-8">
				<h2>{% trans %}Queues{% endtrans %}</h2>
				<h3>{% trans %}Addons{% endtrans %}</h3>
				{% if addons %}
					<table class="table">
						<tr><th>{% trans %}Addon{% endtrans %}</th><th>{% trans %}Requested namespace{% endtrans %}</th><th>{% trans %}User{% endtrans %}</th></tr>
						{% for request in addons %}
						<tr>
							<td>{{request.addon.title}} {% include 'functions/tags/game.twig' with {'game' : games[request.addon.game]} %}</td>
							<td><a href="{{base}}/moderator/approve/{{request.addon.id}}"><strong>{{request.namespace}}</strong></a></td>
							<td>{% include 'functions/user.twig' with {'user': request.user} %}</td>
						</tr>
						{% endfor %}
					</table>
				{% else %}
					<div class="alert alert-info">{% trans %}There are no addons in the approval queue.{% endtrans %}</div>
				{% endif %}
				<h3>{% trans %}Contact form{% endtrans %}</h3>
				{% if tickets %}
					<table class="table">
						<tr><th>{% trans %}Timestamp{% endtrans %}</th><th>{% trans %}Message{% endtrans %}</th><th>{% trans %}User{% endtrans %}</th></tr>
						{% for message in tickets %}
						<tr>
							<td>{{message.submitted}}</td>
							<td><a href="{{base}}/moderator/tickets/{{message.id}}" class="text">"{{ message.message|length > 50 ? message.message|slice(0, 50) ~ '…' : message.message }}"</a></td>
							<td>{% if message.user %}{% include 'functions/user.twig' with {'user': message.user} %}{% else %}<em>{% trans "Anonymous visitor" %}</em>{% endif %}</td>
						</tr>
						{% endfor %}
					</table>
				{% else %}
					<p class="alert alert-info">{% trans %}There are no new messages in the support queue.{% endtrans %}</p>
				{% endif %}
                {% set completed_tickets %}<a href="{{base}}/moderator/tickets/">{% trans %}completed tickets{% endtrans %}</a>{% endset %}
                <p class="help-block">{% trans %}Review the {{completed_tickets}}.{% endtrans %}</p>
			</div>
		</div>
	</div>
{% endblock %}
