{% set _addon_url %}
	{{base}}/addons/{% if addon.game %}{{addon.game.short}}{% else %}{{short}}{% endif %}/{{addon.short}}
{% endset %}
<li class="media media-addon">
	<a href="{{_addon_url}}" class="pull-left">
		<img class="media-object" src="http://placehold.it/76x57">
	</a>
	<div class="media-body">
		<h4 class="media-heading"><a href="{{_addon_url}}">{{ addon.title }}</a>
		{% if addon.version %}{% include 'functions/labels/version.twig' with {'version' : addon.version} %}{% endif %}
		{% if addon.game %}{% include 'functions/tags/game.twig' with {'short' : addon.game.short, 'title' : addon.game.title} %}{% endif %}
		</h4>
		<p>{{addon.description}}</p>
	</div>
</li>