{% set _addon_url %}{{base}}/addons/{% if addon.game %}{{addon.game.namespace}}{% else %}{{namespace}}{% endif %}/{{addon.namespace}}{% if addon.version %}/{{addon.version}}{% endif %}{% endset %}
{% set _addon_translation = attribute(addon, 'getTranslation', [display_language]) %}
<li class="media media-addon">
    <a href="{{_addon_url}}" class="pull-left">
        {% include 'functions/svg/addon.twig' %}
    </a>
    <div class="media-body">
        <h4 class="media-heading"><a href="{{_addon_url}}">{{_addon_translation.title}}</a>
        {% if addon.game %}{% include 'functions/tags/game.twig' with {'game' : addon.game} %}{% endif %}
    </h4>
    <p>{{_addon_translation.introduction}}</p>
</div>
</li>
