<li class="media media-addon">
	<a href="{{base}}/addons/{% if addon.game %}{{addon.game.short}}{% else %}{{short}}{% endif %}/{{addon.short}}" class="pull-left">
		<img class="media-object" src="http://placehold.it/76x57">
	</a>
	<div class="media-body">
		<h4 class="media-heading">{{ addon.title }}</h4>
		{% if addon.game %}{% include 'functions/tags/game.twig' with {'short' : addon.game.short, 'title' : addon.game.title} %}{% endif %}
		<p>{{addon.description}}</p>
	</div>
</li>