<nav id="mainnav" class="navbar navbar-inverse navbar-static-top hidden-print" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
				<span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{base}}">
				{% include 'functions/logo.svg' %}
				<strong>{{brand}}</strong>
			</a>
			<!--<a class="navbar-brand" href="{{base}}"><img src="{{resources}}/lorry/img/lorry-grey.svg" alt="{{brand}}" class="svg" style="height: 1em; display: inline; margin-right: 1px;"> <strong>{{brand}}</strong></a>!-->
		</div>

		<div class="collapse navbar-collapse main-navbar-collapse">
			{% if site_enabled %}
			<ul class="nav navbar-nav">
				<li{% if path.0 == "addons" and path.1 == "rage" %} class="active"{% endif %}><a href="{{base}}/addons/rage">{% trans %}Clonk Rage{% endtrans %}</a></li>
				<li{% if path.0 == "addons" and path.1 == "openclonk"  %} class="active"{% endif %}><a href="{{base}}/addons/openclonk">{% trans %}OpenClonk{% endtrans %}</a></li>
				<li{% if path.0 == "developers" %} class="active"{% endif %}><a href="{{base}}/developers">{% trans 'Developers' %}</a></li>
				{% if user_moderator %}<li{% if path.0 == "moderator" %} class="active"{% endif %}><a href="{{base}}/moderator">{% trans 'Moderator' %}</a></li>{% endif %}
				{% if user_administrator %}<li{% if path.0 == "administrator" %} class="active"{% endif %}><a href="{{base}}/administrator">{% trans 'Administrator' %}</a></li>{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
      {% if user_login %}
				<li{% if path.0 == "users" and path.1|lower == user_name|lower %} class="active"{% endif %}><a href="{{user_profile}}">{{user_name}}</a></li>
				<li{% if path.0 == "publish" and path.1 != "create" %} class="active"{% endif %}><a href="{{base}}/publish">{% trans 'My addons' %}</a></li>
				<li{% if path.0 == "settings" %} class="active"{% endif %}><a href="{{base}}/settings">{% trans 'Settings' %}</a></li>
				<li{% if path.0 == "logout" %} class="active"{% endif %}><a href="{{base}}/logout">{% trans 'Logout' %}</a></li>
	{% else %}
				<li{% if path.0 == "register" %} class="active"{% endif %}><a href="{{base}}/register">{% trans 'Register' %}</a></li>
				<li{% if path.0 == "login" %} class="active"{% endif %}><a href="{{base}}/login">{% trans 'Login' %}</a></li>
	{% endif %}
			</ul>
			{% endif %}
		</div>
	</div>
</nav>