{% set oauth_warn%}data-warning="{% trans %}Are you sure you want to remove this login service from your account?{% endtrans %}"{% endset %}
<p id="oauth">
	<a href="?{% if oauth.github %}remove-{% endif %}oauth=github{% if returnto %}&returnto={{returnto}}{% endif %}{% if oauth.github %}&state={{state}}#oauth{% endif %}" class="btn btn-default{% if oauth.github %} lorry-js-warn{% endif %}"{% if oauth.google %} {{oauth_warn}}{% endif%}>{% trans "GitHub" %}{% if oauth.github %} <span class="glyphicon glyphicon-link"></span>{% endif %}</a>
	<a href="?{% if oauth.google %}remove-{% endif %}oauth=google{% if returnto %}&returnto={{returnto}}{% endif %}{% if oauth.google %}&state={{state}}#oauth{% endif %}" class="btn btn-google{% if oauth.google %} lorry-js-warn{% endif %}"{% if oauth.google %} {{oauth_warn}}{% endif%}>{% trans "Google" %}{% if oauth.google %} <span class="glyphicon glyphicon-link"></span>{% endif %}</a>
	<a href="?{% if oauth.facebook %}remove-{% endif %}oauth=facebook{% if returnto %}&returnto={{returnto}}{% endif %}{% if oauth.facebook %}&state={{state}}#oauth{% endif %}" class="btn btn-facebook{% if oauth.facebook %} lorry-js-warn{% endif %}"{% if oauth.facebook %} {{oauth_warn}}{% endif%}>{% trans "Facebook" %}{% if oauth.facebook %} <span class="glyphicon glyphicon-link"></span>{% endif %}</a>
</p>
