{% extends 'email/base.twig' %}

{% block subject %}{% trans %}{{brand}}: Escalated ticket{% endtrans %}{% endblock %}

{% block body %}
{% set ticket %}<a href="{{base}}/moderator/tickets/{{ticketid}}">{% trans "ticket" %}</a>{% endset %}
{% set staffname %}<a href="{{base}}/users/{{staff.name}}" class="text">{{staff.name}}</a>{% endset %}
<p>{% trans %}The following {{ticket}} was escalated by {{staffname}}:{% endtrans %}</p>

<blockquote>
	<p>"{{message|raw}}"</p>
</blockquote>
	
{% if user %}{% set username %}<a href="{{base}}/users/{{user.name}}" class="text">{{user.name}}</a>{% endset %}
<p>{% trans %}The message was originally sent by {{username}}.{% endtrans %}</p>
{% else %}
<p>{% trans %}The message was originally sent by an anonymous user.{% endtrans %}</p>
{% endif %}
{% endblock %}
