<hr>
<footer>
    <p class="visible-phone">&uarr; <a href="#">{% trans %}Back to top{% endtrans %}</a></p>
    {% if __notice %}<p><strong>{{notice}}</strong></p>{% endif %}
    <p class=""><a class="text" href="{{base}}">{{name}}</a> &copy; {{current_year}}<span class="muted"> &middot; <a class="text" href="{{base}}about">{% trans "About the project" %}</a> &middot; <a class="text" href="{{base}}contact">{% trans "Contact" %}</a><span class="hidden-phone">{% if __trademark %} &middot; {{__trademark|raw}}{% endif %}</span></span>.</p>
</footer>