{% extends 'root.twig' %}

{% set title %}{% trans %}Banners{% endtrans %}{% endset %}

{% block content %}
	<div class="page-header">
        <div class="container">
            <h1><a href="{{filename}}">{{title}}</a></h1>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="list-group">
					{% for banner in banners %}{% set banner_number %}{{banner.id}}{% endset %}
						<a class="list-group-item" href="{{base}}/banners/{{banner.id}}">{% if banner.name%}{{banner.name}}{% else %}<em>{% trans %}Banner #{{banner_number}}{% endtrans %}</em>{% endif %}</a>
					{% else %}
						<span class="list-group-item text-muted">{% trans %}No banners yet{% endtrans %}</span>
					{% endfor%}
				</div>
			</div>
		</div>
		<form role=form" action="{{filename}}" method="post">
			<input type="hidden" name="add-banner">
			<input type="hidden" name="state" value="{{state}}">
			<div class="form-group">
				<input type="submit" class="btn btn-success" value="{% trans "Add banner" %}">
			</div>
		</form>
	</div>
{% endblock%}