{% extends 'root.twig' %}

{% set banner_number %}{{banner.id}}{% endset %}

{% set title %}{% trans %}Translate banner #{{banner_number}}{% endtrans %}{% endset %}

{% block content %}
	<div class="page-header">
        <div class="breakout"><a href="{{base}}/banners/{{banner.id}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></div>
        <div class="container">
            <h1><a href="{{filename}}">{{title}}</a></h1>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>{% trans %}Translation{% endtrans %}</h2>

				<form role=form" action="{{filename}}" method="post">
					<input type="hidden" name="state" value="{{state}}">
					{% include 'functions/alert.twig' with {'selector' : 'translation-form'} %}

					<div class="form-group">
						<label for="title">{% trans %}Title{% endtrans %}</label>
						<input type="text" class="form-control" name="title" id="title" value="{{translation_title}}">
					</div>

					<div class="form-group">
						<label for="subtitle">{% trans %}Subtitle{% endtrans %}</label>
						<input type="text" class="form-control" name="subtitle" id="subtitle" value="{{subtitle}}">
					</div>

					<div class="form-group">
						<label for="url">{% trans %}Url (overrides default url){% endtrans %}</label>
						<div class="input-group">
							<input type="url" class="form-control" name="url" id="url" value="{{url}}">
							<span class="input-group-addon">
								<input type="checkbox" id="url-specified" name="url_specified"{% if url %} checked{% endif %}>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="image-btn">{% trans %}Image (overrides default image){% endtrans %}</label>
						{% include "functions/upload-image.twig" with {name: "image_id", id: "image-id", btn: "image-btn"} %}
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="{% trans "Save translation" %}">
					</div>
				</form>
			</div>
			<div class="col-md-8">
				<h2>{% trans %}Preview{% endtrans %}</h2>
				<div class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							{% set _url = translation.url|default(banner.defaultUrl)%}
                            {% if _url %}<a href="{{_url}}">{% endif %}
								<img src="http://placehold.it/750x4	00" alt="{{translation.title}}">
								{% if banner.url %}</a>{% endif %}
							<div class="carousel-caption">
								<h3>
									{% if translation.title %}<strong>{{translation.title}}</strong>{% endif %}
									{% if translation.subtitle %}<br>{{translation.subtitle}}{% endif %}
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock%}

{% block javascript %}
	$(document).ready(function() {
	//		setupImageUpload($('#image-btn'), $('#image-id'));
	setupNullField($('#url-specified'), $('#url'), '{{banner.defaultUrl}}');
	});
{% endblock %}