<!doctype html>
<html lang="{% trans "en" %}">
	<head lang="{% trans "en" %}">
		<meta charset="utf-8">
		<title>{{title|default(brand)}}</title>
		<link href="{{resources}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{resources}}/lorry/css/lorry.css?3" rel="stylesheet">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="{{base}}/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="{{resources}}/lorry/img/lorry-128x128-touch.png">
		{% if fbid %}<meta property="fb:app_id" content="{{fbid}}">{% endif %}
		<meta property="og:title" content="{{title|default(brand)}}">
		<meta property="og:locale" content="{{locale}}">
		<meta property="og:url" content="{{base}}{{origpath}}">
		<meta property="og:site_name" content="{{brand}}">
		{% block opengraph %}
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{resources}}/lorry/img/lorry-512x512.png">
		{% endblock %}
		<script>var base = '{{base}}', state = '{{state}}';</script>
	</head>
	<body>
		<noscript><style>.visible-js { display: none; }</style></noscript>
		{% block body %}
		{% include 'functions/navbar.twig' %}
		{% if site_notice and site_enabled %}
			<div class="jumbotron site-notice alert-{{site_notice_class|default('danger')}}">
				<div class="container">
					{{site_notice}}
				</div>
			</div>
		{% elseif not knows_clonk %}
			{% if not hide_greeter %}
				<div class="jumbotron site-notice" id="greeter">
					<div class="container">
						<p>
							{% trans %}Lorry is a fan site for Clonk.{% endtrans %} {% trans %}Clonk is a unique game series with thousands of player-created worlds.{% endtrans %}
							<a href="{{base}}/about/clonk" class="btn btn-success btn">{% trans %}Learn more{% endtrans %}</a>
							<a href="{{base}}/about/clonk?returnto={{origpath}}" rel="nofollow" class="btn btn-default btn" id="greeter-hide">{% trans %}Hide{% endtrans %}</a>
						</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
		{% block content %}
			<div class="container">
			</div>
		{% endblock %}
		{% include 'functions/footer.twig' %}
		{% endblock %}
		<script src="{{resources}}/jquery/jquery-2.1.1.min.js"></script>
		<script src="{{resources}}/bootstrap/js/bootstrap.min.js"></script>
		{% if user_login %}
			<script>var translation = {unsavedChanges: "{% trans %}You have unsaved changes.{% endtrans %}", preparingUpload: "{% trans %}Preparing upload{% endtrans %}", stillUploading: "{% trans %}You are still uploading files.{% endtrans %}"}</script>
			<script src="{{resources}}/typeahead.js/typeahead.bundle.min.js"></script>
			<script src="{{resources}}/jquery/jquery.are-you-sure.js"></script>
		{% endif %}
		<script src="{{resources}}/lorry/js/lorry.js"></script>
		{% for script in scripts %}
			<script src="{{resources}}{{script}}"></script>
		{% endfor %}
		<script>{% block javascript %}{% endblock %}</script>
		{% if site_tracking %}{{site_tracking|raw}}{% endif %}
	</body>
</html>
