<!doctype html>
<html lang="{% trans "en" %}">
	<head lang="{% trans "en" %}">
		<meta charset="utf-8">
		<title>{{title|default(brand)}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="{{resources}}/lorry/img/favicon.ico" type="image/x-icon">
		<link href="{{resources}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{resources}}/lorry/css/lorry.css" rel="stylesheet">
		<meta property="og:title" content="{{title|default(brand)}}">
		<meta property="og:image" content="{{component}}/lorry/img/logo.png">
		<meta property="og:site_name" content="{{brand}}">
		<script>var base = '{{base}}', state = '{{state}}';</script>
	</head>
	<body>{% block body %}
		{% include 'functions/navbar.twig' %}
		{% if site_notice %}
		<div id="site-notice" class="jumbotron alert-danger">
			<div class="container">
		{{site_notice}}
			</div>
		</div>
		{% endif %}
		{% block content %}
		<div class="container">
		</div>
		{% endblock %}
		<div class="container">
			<footer class="footer">
				<p class="visible-xs hidden-print">&uarr; <a href="#">{% trans %}Back to top{% endtrans %}</a></p>
				<p><a class="text" href="{{base}}">{{brand}}</a> {{site_copyright}} · <a class="text" href="{{base}}/about">{% trans "About the project" %}</a> · <a class="text" href="{{base}}/contact">{% trans "Contact" %}</a></p>
			</footer>
		</div>
	{% endblock %}
		<script>var translation = {'unsavedChanges':'{% trans %}You have unsaved changes.{% endtrans %}'}</script>
		<script src="{{resources}}/jquery/jquery-2.1.0.min.js"></script>
		<script src="{{resources}}/jquery/jquery.are-you-sure.js"></script>
		<script src="{{resources}}/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{resources}}/lorry/js/lorry.js"></script>
		{% for script in scripts %}
		<script src="{{resources}}{{script}}"></script>
		{% endfor %}
		<script>{% block javascript %}{% endblock %}</script>
	</body>
</html>
